{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/fish

echo -e "\033[0;32m>>>>> Begin Setting Up Fish shell <<<<<\033[0m"
export PATH="/home/linuxbrew/.linuxbrew/sbin:/home/linuxbrew/.linuxbrew/bin:/home/$USER/go/bin:/home/$USER/.local/opt/go/bin:/home/$USER/.local/share/aquaproj-aqua/bin:/home/$USER/.local/bin:$PATH"
## Install fisher
if not type -q fisher
  echo "installing fisher"
  curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
end

echo -e "\033[0;32m>>>>> Finish Setting Up Fish shell <<<<<\033[0m"

# MACs ##########################################################################
{{ else if eq .chezmoi.os "darwin" -}}
#!/opt/homebrew/bin/fish
echo -e "\033[0;32m>>>>> Begin Setting Up Fish shell <<<<<\033[0m"
if not type -q fisher
  echo "installing fisher"
  curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
end
echo -e "\033[0;32m>>>>> Finish Setting Up Fish shell <<<<<\033[0m"
{{ end -}}