{{ if (and (eq .chezmoi.os "linux") (ne .chezmoi.username "root") ( eq .osid "linux-ubuntu" "linux-debian")) -}}
#!/bin/bash

set -eufo pipefail

echo -e "\033[0;32m>>>>> Begin Setting Up Binaries <<<<<\033[0m"
export PATH="/home/linuxbrew/.linuxbrew/sbin:/home/linuxbrew/.linuxbrew/bin:/home/$USER/go/bin:/home/$USER/.local/opt/go/bin:/home/$USER/.local/share/aquaproj-aqua/bin:/home/$USER/.local/bin:$PATH"

##--NodeJS--##
# renovate: depName=node datasource=node
current_nodejs_version=22.15.0

if [ ! $(command -v node) ] || [ $(node -v) != "$current_nodejs_version" ]; then
  echo "installing / upgrading NodeJS"
  curl -fsSL install-node.vercel.app | sudo bash -s -- --yes --version $current_nodejs_version
fi

echo -e "\033[0;32m>>>>> Finish Setting Up Binaries <<<<<\033[0m"
{{ end -}}
