[user]
  email = danny@froberg.org
  name = dfroberg
[commit]
  template = {{ .chezmoi.homeDir }}/.gitcommit-message
{{- if (eq .chezmoi.hostname "ansible-server") }}
[status]
  submodulesummary = true
{{- end }}
