export AWS_PROFILE="infura-prod"
export AWS_VAULT_BACKEND=pass
export AWS_VAULT_PASS_CMD=pass
export AWS_VAULT_PROMPT=pass
export AWS_VAULT_PASS_PREFIX=aws-vault
export GPG_TTY=$(tty)
{{ if (eq .chezmoi.os "linux") }}
export DOCKER_HOST=tcp://100.117.131.49:23750
export AWS_VAULT_PASS_PASSWORD_STORE_DIR=/home/$USER/.password-store
{{ else if eq .chezmoi.os "darwin" }}
export DOCKER_HOST=tcp://100.117.131.49:23750
export DISPLAY=localhost:0.0
export AWS_VAULT_PASS_PASSWORD_STORE_DIR=/Users/$USER/.password-store
{{ end -}}