[user]
  email = danny@froberg.org
  name = Danny Froberg
  signingkey = 521983FB5BA5CDF71E4C7366479FB363C1147A52
[commit]
  template = {{ .chezmoi.homeDir }}/.gitcommit-message
[credential]
  helper = store --file ~/.my-credentials
[commit]
  gpsign = true
  gpgsign = true
[log]
  showSignature = true
{{- if (eq .chezmoi.hostname "ansible-server") }}
[status]
  submodulesummary = true
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
[gpg]
  program = /opt/homebrew/bin/gpg
{{- end }}
