{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
echo -e "\033[0;32m>>>>> Begin Setting Up Custom Packages <<<<<\033[0m"
# Ensure environment is good
ulimit -u 8192
# Global
sudo apt install -y pass git fd-find fzf zoxide curl wget gnome-keyring sway dbus-x11 dnsutils
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
export PATH="/home/linuxbrew/.linuxbrew/sbin:/home/linuxbrew/.linuxbrew/bin:/home/$USER/go/bin:/home/$USER/.local/opt/go/bin:/home/$USER/.local/share/aquaproj-aqua/bin:/home/$USER/.local/bin:$PATH"
# Local
curl -sS https://webinstall.dev/webi | bash
curl -sS https://webinstall.dev/keypairs | bash

# WakaTime
# python3 -c "$(wget -q -O - https://raw.githubusercontent.com/wakatime/vim-wakatime/master/scripts/install_cli.py)"
# Brew packages
brew install awscli
brew install shellcheck
brew install shfmt
brew install yamllint
brew install xz
brew install tmux
brew install gcc
brew install fisher
brew install wakatime-cli
brew install ansible
brew install clusterctl
brew install neovim
brew install act
# Add aditional modules
go install golang.org/x/tools/gopls@latest
wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
sudo apt -y install ./google-chrome-stable_current_amd64.deb
rm ./google-chrome-stable_current_amd64.deb
google-chrome --version

echo -e "\033[0;32m>>>>> End Setting Up Custom Packages <<<<<\033[0m"
# MACs ##########################################################################
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
echo -e "\033[0;32m>>>>> Begin Setting Up Custom Packages <<<<<\033[0m"
ulimit -n 8192
/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
brew -v
export PATH=$PATH:/opt/homebrew/bin
# Brew packages
brew install --cask 1password/tap/1password-cli
brew install awscli
brew install shellcheck
brew install shfmt
brew install yamllint
brew install xz
brew install tmux
brew install gcc
brew install fisher
brew install wakatime-cli
brew install ansible
brew install clusterctl
brew install neovim
brew install act
brew install gpg

echo -e "\033[0;32m>>>>> End Setting Up Custom Packages <<<<<\033[0m"
{{ end -}}
