{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
# Global
sudo apt install -y pass fish git fd-find fzf bat zoxide curl xz-utils
# Local
curl -sS https://webinstall.dev/webi | bash
curl -sS https://webinstall.dev/yq | bash
curl -sS https://webinstall.dev/kubectx | bash
curl -sS https://webinstall.dev/kubens | bash
curl -sS https://webinstall.dev/k9s | bash
curl -sS https://webinstall.dev/gh | bash
curl -sS https://webinstall.dev/shellcheck | bash
curl -sS https://webinstall.dev/shfmt | bash
curl -sS https://webinstall.dev/xz | bash
curl -sS https://webinstall.dev/keypairs | bash
curl -sS https://webinstall.dev/brew | bash
# go
curl -sS https://webinstall.dev/go | bash
# Add aditional modules
go install golang.org/x/tools/gopls@latest
# Starship
curl -sS https://starship.rs/install.sh | sh
# WakaTime
python3 -c "$(wget -q -O - https://raw.githubusercontent.com/wakatime/vim-wakatime/master/scripts/install_cli.py)"
# Brew packages
export PATH="/home/$USER/.local/opt/brew/bin:$PATH"
export PATH="/home/$USER/.local/opt/brew/sbin:$PATH"
brew install aws-vault ripgrep exa
brew install go-task/tap/go-task
brew install fisher

# MACs ##########################################################################
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep pass aws-vault
brew install go-task/tap/go-task


{{ end -}}
