{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
echo -e "\033[0;32m>>>>> Begin Setting Up Custom Packages <<<<<\033[0m"
# Ensure environment is good
ulimit -u 8192
# Global
sudo apt install -y pass git fd-find fzf zoxide curl
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
export PATH=$PATH:/home/linuxbrew/.linuxbrew/bin/
export PATH=$PATH:/home/linuxbrew/.linuxbrew/sbin/
# Local
curl -sS https://webinstall.dev/webi | bash
curl -sS https://webinstall.dev/keypairs | bash

# WakaTime
# python3 -c "$(wget -q -O - https://raw.githubusercontent.com/wakatime/vim-wakatime/master/scripts/install_cli.py)"
# Brew packages
brew install awscli
brew install shellcheck
brew install shfmt
brew install yamllint
brew install xz
brew install tmux
brew install gcc
brew install fisher
brew install wakatime-cli
brew install ansible
brew install clusterctl
brew install neovim
# Add aditional modules
export PATH="/home/$USER/.local/opt/go/bin:$PATH"
export PATH="/home/$USER/go/bin:$PATH"
go install golang.org/x/tools/gopls@latest

echo -e "\033[0;32m>>>>> End Setting Up Custom Packages <<<<<\033[0m"
# MACs ##########################################################################
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
echo -e "\033[0;32m>>>>> Begin Setting Up Custom Packages <<<<<\033[0m"
ulimit -n 8192

echo -e "\033[0;32m>>>>> End Setting Up Custom Packages <<<<<\033[0m"
{{ end -}}
