{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
# Global
sudo apt install -y pass fish git fd-find fzf bat zoxide curl xz-utils
# Local
curl -sS https://webinstall.dev/webi | bash
curl -sS https://webinstall.dev/yq | bash
curl -sS https://webinstall.dev/kubectx | bash
curl -sS https://webinstall.dev/kubens | bash
curl -sS https://webinstall.dev/k9s | bash
curl -sS https://webinstall.dev/gh | bash
curl -sS https://webinstall.dev/shellcheck | bash
curl -sS https://webinstall.dev/shfmt | bash
curl -sS https://webinstall.dev/xz | bash
curl -sS https://webinstall.dev/keypairs | bash
# sudo curl -sS https://webinstall.dev/brew | bash
# Do the master install of brew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> /home/$USER/.profile
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
# Starship
curl -sS https://starship.rs/install.sh | sh
# WakaTime
python3 -c "$(wget -q -O - https://raw.githubusercontent.com/wakatime/vim-wakatime/master/scripts/install_cli.py)"
# Brew packages
export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
export PATH="/home/linuxbrew/.linuxbrew/sbin:$PATH"
brew install aws-vault 
brew install ripgrep 
brew install exa 
brew install tmux 
brew install gcc 
brew install fisher 
brew install go
brew install go-task/tap/go-task

# Add aditional modules
export PATH="/home/$USER/.local/opt/go/bin:$PATH"
export PATH="/home/$USER/go/bin:$PATH"
go install golang.org/x/tools/gopls@latest

# MACs ##########################################################################
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep pass aws-vault
brew install go-task/tap/go-task


{{ end -}}
