fish_add_path /home/$USER/.local/bin
fish_add_path /home/$USER/node_modules/.bin
fish_add_path /home/$USER/go/bin
fish_add_path /home/$USER/.local/opt/go/bin
fish_add_path /home/$USER/.local/share/aquaproj-aqua/bin
fish_add_path /home/$USER/.krew/bin
fish_add_path /home/$USER//bin

{{ if (eq .chezmoi.os "linux") -}}
fish_add_path -g /home/linuxbrew/.linuxbrew/bin/
fish_add_path -g /home/linuxbrew/.linuxbrew/sbin/
{{ end -}}
{{ if eq .chezmoi.hostname "taurus22" -}}
fish_add_path /mnt/c/Users/danny/AppData/Local/Programs/'Microsoft VS Code'/bin
{{ end -}}
