PatrickF1/fzf.fish@v7.0
jorgebucaran/autopair.fish
jorgebucaran/fisher
nickeb96/puffer-fish
gazorby/fish-abbreviation-tips
edc/bass
oh-my-fish/plugin-foreign-env
# halostatue/fish-direnv@v1.0.6
joseluisq/gitnow@2.10.0
jorgebucaran/nvm.fish
