PatrickF1/fzf.fish@v7.0
budimanjojo/tmux.fish
jorgebucaran/autopair.fish
jorgebucaran/fisher
nickeb96/puffer-fish
gazorby/fish-abbreviation-tips
edc/bass
oh-my-fish/plugin-foreign-env
halostatue/fish-direnv@1.x


