registries:
  - type: standard
    ref: v3.136.0    # renovate: depName=aquaproj/aqua-registry
packages:
{{- if (eq .chezmoi.os "linux") }}
  - name: twpayne/chezmoi@v2.27.3
  - name: junegunn/fzf@0.38.0
  - name: starship/starship@v1.11.0
  - name: ajeetdsouza/zoxide@v0.9.0
  - name: BurntSushi/ripgrep@13.0.0
  - name: sharkdp/fd@v8.5.3
  - name: sharkdp/bat@v0.22.1
  - name: ogham/exa@v0.10.1
  - name: blacknon/hwatch@0.3.9
  - name: neovim/neovim@v0.8.3
  - name: zellij-org/zellij@v0.33.0
  - name: gohugoio/hugo@v0.110.0
  - name: mikefarah/yq@v4.31.1
  - name: stedolan/jq@jq-1.6
  {{-   if .agekey }}
  - name: FiloSottile/age@v1.1.1
{{-   end }}
{{-   if not .headless }}
  - name: golang/go@1.20.1
  - name: cli/cli@v2.23.0
  - name: go-task/task@v3.20.0
  - name: direnv/direnv@v2.32.2
  - name: goreleaser/goreleaser@v1.15.2
  - name: Songmu/goxz@v0.9.1
#  - name: golang/tools/gopls@gopls/v0.8.4
  - name: terraform-docs/terraform-docs@v0.16.0
  - name: tfmigrator/cli@v0.2.2
  - name: hashicorp/terraform-plugin-docs@v0.13.0
  - name: tfutils/tfenv@v3.0.0
  - name: terraform-linters/tflint@v0.43.0
  - name: kubernetes-sigs/cluster-api@v1.3.3
  - name: 99designs/aws-vault@v6.6.2
  - name: pulumi/pulumi@v3.48.0
  - name: weaveworks/eksctl@v0.122.0
  - name: awslabs/git-secrets@1.3.0
{{-   end }}
{{-   if .kubernetes }}
  - name: kubernetes/kubectl@v1.26.1
  - name: ahmetb/kubectx@v0.9.4
  - name: ahmetb/kubens@v0.9.4
  - name: kubernetes-sigs/krew@v0.4.3
  - name: ahmetb/kubectl-tree@v0.4.3
  - name: aquasecurity/kubectl-who-can@v0.4.0
  - name: armosec/kubescape@v2.2.0
  - name: pulumi/kubespy@v0.6.1
  - name: kubecost/kubectl-cost@v0.4.1
  - name: kastenhq/kubestr@v0.4.37
  - name: hidetatz/kubecolor@v0.0.25
  - name: fluxcd/flux2@v0.40.0
  - name: kubernetes-sigs/kustomize@kustomize/v4.5.7
  - name: mozilla/sops@v3.7.3
  - name: helm/helm@v3.11.1
  - name: siderolabs/talos@v1.2.8
  - name: derailed/k9s@v0.27.3
  - name: budimanjojo/talhelper@v1.6.1
{{-   end }}
{{ else if eq .chezmoi.os "darwin" }}
  - name: twpayne/chezmoi@v2.27.3
  - name: junegunn/fzf@0.38.0
  - name: starship/starship@v1.11.0
  - name: ajeetdsouza/zoxide@v0.9.0
  - name: BurntSushi/ripgrep@13.0.0
  - name: sharkdp/fd@v8.5.3
  - name: sharkdp/bat@v0.22.1
  - name: ogham/exa@v0.10.1
  - name: blacknon/hwatch@0.3.9
  - name: neovim/neovim@v0.8.3
  - name: zellij-org/zellij@v0.33.0
  - name: gohugoio/hugo@v0.110.0
  - name: mikefarah/yq@v4.31.1
  - name: stedolan/jq@jq-1.6
  {{-   if .agekey }}
  - name: FiloSottile/age@v1.1.1
{{-   end }}
{{-   if not .headless }}
  - name: golang/go@1.20.1
  - name: cli/cli@v2.23.0
  - name: go-task/task@v3.20.0
  - name: direnv/direnv@v2.32.2
  - name: goreleaser/goreleaser@v1.15.2
  - name: Songmu/goxz@v0.9.1
#  - name: golang/tools/gopls@gopls/v0.8.4
  - name: terraform-docs/terraform-docs@v0.16.0
  - name: tfmigrator/cli@v0.2.2
  - name: hashicorp/terraform-plugin-docs@v0.13.0
  - name: tfutils/tfenv@v3.0.0
  - name: terraform-linters/tflint@v0.43.0
  - name: kubernetes-sigs/cluster-api@v1.3.3
  - name: 99designs/aws-vault@v6.6.2
  - name: pulumi/pulumi@v3.48.0
  - name: weaveworks/eksctl@v0.122.0
  - name: awslabs/git-secrets@1.3.0
{{-   end }}
{{-   if .kubernetes }}
  - name: kubernetes/kubectl@v1.26.1
  - name: ahmetb/kubectx@v0.9.4
  - name: ahmetb/kubens@v0.9.4
  - name: kubernetes-sigs/krew@v0.4.3
  - name: ahmetb/kubectl-tree@v0.4.3
  - name: aquasecurity/kubectl-who-can@v0.4.0
  - name: armosec/kubescape@v2.2.0
  - name: pulumi/kubespy@v0.6.1
  - name: kubecost/kubectl-cost@v0.4.1
  - name: kastenhq/kubestr@v0.4.37
  - name: hidetatz/kubecolor@v0.0.25
  - name: fluxcd/flux2@v0.40.0
  - name: kubernetes-sigs/kustomize@kustomize/v4.5.7
  - name: mozilla/sops@v3.7.3
  - name: helm/helm@v3.11.1
  - name: siderolabs/talos@v1.2.8
  - name: derailed/k9s@v0.27.3
  - name: budimanjojo/talhelper@v1.6.1
{{-   end }}
{{- end }}
